# Secrets
.env
.env.*
!.env.example

# messeges history file
messages_history.json
!messages_history.example.json

# Python
__pycache__/
*.py[cod]
venv/
env/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
